# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.manifest
*.spec

# Virtual environment
venv/
venv39/
env/
ENV/
.venv/

# Django specific
*.log
*.pot
*.pyc
*.mo
db.sqlite3
media/
staticfiles/
static/

# Django migrations (optional, but usually kept in repo)
# Uncomment if you don’t want migration files
# */migrations/*.py
# */migrations/__pycache__/

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env

# Byte-compiled / optimized / DLL files
*.dll
*.so
*.dylib

# MacOS
.DS_Store

# Coverage / testing
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/

migrations